body {
    font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
header {
    background: #ebebeb;
    display:block;
    text-align:center;
    margin:10px 100px;
    padding:35px;
}
nav {
    background: #ebebeb;
    display:block;
    text-align:center;
    margin:10px 100px;
    padding:35px;
}
section {
    background: #ebebeb;
    width:495px;
    text-align:center;
    margin:30px 5px 30px 100px;
    float: left;
}
aside {
    background: #ebebeb;
    width:250px;
    height:35px;
    text-align:center;
    margin:30px 100px 30px 5px;
    float: right;
}
footer {
    background: #ebebeb;
    display:block;
    text-align:center;
    margin:10px 100px;
    padding:35px;
}
article {
    color: #ebebeb;
    background: #777;
    text-align:center;
}
h1 {
    color: #777;
    background: #ebebeb;
    text-align:center;
}
p {
    color: #777;
    background: #ebebeb;
    text-align:center;
}
